<!--

This is a course requirement for CS 192 Software Engineering II under the
supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer
Science, College of Engineering, University of the Philippines, Diliman for the AY 2019-2020.

© Mathena Angeles

-->

{% extends "shop/base.html" %}
{% block content %}
<!-- Successful Logout -->
<div class="container mt-5">
	<h2>You have been logged out.</h2>
	<div class="border-top pt-3">
		<small class="text-muted">
			Your session has expired. Click <b class="bg-info"><a href="{% url 'login' %}" id="login-link">Sign-In</a></b> to be directed back to login page.
		</small>
	</div>
</div>
{% endblock content %}