<!--

This is a course requirement for CS 192 Software Engineering II under the
supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer
Science, College of Engineering, University of the Philippines, Diliman for the AY 2019-2020.

© Mathena Angeles

-->

{% extends "shop/base.html" %}
{% block content %}

<div class="container" id="book-list-main">
	<div class="row">

		<!-- Book Image -->
		<div class="mt-4">
			<img src="{{ object.image.url }}" id="book-detail-image">
		</div>

		<!-- Book Listing Card -->
		<div class="mt-4 card col-md" id="book-detail-card">
			<!-- Book Price -->
			<h3 class="card-header" id="book-list-header">
				PHP {{ object.price }}
				<!-- Buttons -->
				<div id="book-detail-icons">
				{% if object.seller == user %}
					<!-- Edit Book Listing -->
					<a href="{% url 'book-update' object.id %}"><i class="material-icons">edit</i></a>
					<!-- Delete Book Listing -->
					<i class="material-icons ml-2" data-toggle="modal" data-target="#deleteModal">delete</i>
				{% else %}
					<a href="#"><i class="material-icons">shopping_cart</i></a>
				{% endif %}
				</div>
			</h3>
			<div class="card-body">
				<!-- Book Title -->
				<h1 class="card-title" id="book-detail-title">{{ object.title }}</h1>
				<!-- Book Author and Genre -->
				<h5 class="card-subtitle text-muted" id="book-list-subtitle">{{ object.author }} {% if object.genre %} | {{ object.genre }} {% endif %} </h5>
				<br>
				<!-- Book Synopsis -->
				<p class="card-text"> {{ object.synopsis }}  </p>
				<!-- Book Publication -->
				<small class="text-muted"> 
					{% if object.publicationDate or object.publisher %} 
						Published {% if object.publisher is not None %} by <b>{{ object.publisher }}</b> {% endif %} {% if object.publicationDate is not None %}  on <b>{{ object.publicationDate|date:"F d, Y" }}</b> {% endif %}
					{% endif %}
				</small>
			</div>

			<!-- Book Seller and Timestamp -->
			<div class="card-footer" id="book-detail-footer">
    			  <small class="text-muted"> Posted by <a href="{% url 'user-books' book.seller.username %}"> <b class="bg-info">{{ object.seller }}</b></a> on {{ object.timestamp|date:"F d, Y" }}</small>
  			</div>
  		</div>

	</div>
</div>

<!-- Delete Book Listing -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Delete Modal Header -->
      <div class="modal-header">
      	<h4>Delete Confirmation</h4>
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="material-icons">close</i></span>
        </button>
      </div>
      <!-- Delete Modal Body -->
      <div class="modal-body">
        Are you sure you want to delete <b class="bg-info">{{object.title}}</b>?
      </div>
      <div class="modal-footer">
      	 <!-- Delete Modal Cancel Button -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <!-- Delete Modal Delete Button -->
        <form id='book-delete' method="POST" action="{% url 'book-delete' object.id %}">
			{% csrf_token %}
			<a href="{% url 'book-delete' object.id %}">
			<button  class="btn btn-danger" onClick="deleteFunction()">Delete</button>
			</a>
		</form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Function -->
<script>
 	function deleteFunction(e) {
 		$('#book-delete').submit();
    }
</script>
{% endblock content %}
