<!--

This is a course requirement for CS 192 Software Engineering II under the
supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer
Science, College of Engineering, University of the Philippines, Diliman for the AY 2019-2020.

© Mathena Angeles

-->

{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Create and Update Book Listing -->
<div class="container my-5" id="book-form-container">
	<form method="POST"  enctype='multipart/form-data' novalidate>
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4" id="book-form-title"><h1>Book Listing Form</h1></legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-info" type="submit"> Submit </button>
		</div>
	</form>
</div>
{% endblock content %}